
<div cate_id = "{$floorInfo.topCate.cate_id}">
        <div class="i_t mar_10">
            <span class="floor_num"><font class="floorNum">{$floorNum}</font>F</span>
            <span class="fl">{$floorInfo.topCate.cate_name}</span>               
            <span class="i_mores fr">
                {volist name="floorInfo['sonCate']" id="v"}
                <a href="#">{$v.cate_name}</a>
                {/volist}
            </span>
        </div>    
            <div class="content">
            <div class="fresh_mid">
                <ul>
                    {volist name="floorInfo['goodsInfo']" id="v"}
                    <li>
                        <div class="name"><a href="#">{$v.goods_name}</a></div>
                        <div class="price">
                            <font>￥<span>{$v.self_price}</span></font> &nbsp; {$v.goods_score}R
                        </div>
                        <div class="img"><a href="#"><img src="./goodsimg/{$v.goods_img}" width="185" height="155" /></a></div>
                    </li>   
                    {/volist}                                    
                </ul>
            </div>
        </div>
    </div>